# {{ ansible_managed }}

# Default Exclusions
{% for item in kopia_ignore_default %}
{{ item }}
{% endfor %}

# Custom Exclusions
{% for item in kopia_ignore_custom %}
{{ item }}
{% endfor %}

# Kopia specific
{{ kopia_root_dir }}/config/
{{ kopia_root_dir }}/cache/