# System & OS
.DS_Store
Thumbs.db
lost+found/

# Temp directories
**/cache/
**/logs/
**/tmp/
*.log

# Dev & Deployment
**/node_modules/

#Kopia config and cache directories
{{ kopia_root_dir }}/config/
{{ kopia_root_dir }}/cache/

#Satisfactory gamefiles
**/gamefiles/
**/gamefiles/

#Unreal Engine
**/Engine/
**/Binaries/