# SPDX-License-Identifier: MIT
---
services:
  {{ kopia_service_name }}:
    image: "kopia/kopia:{{ kopia_image_tag }}"
    container_name: "{{ kopia_service_name }}"
    hostname: "{{ kopia_client_hostname }}"
    restart: unless-stopped
    security_opt:
      - "no-new-privileges:true"
    volumes:
      - "{{ kopia_root_dir }}/config:/app/config"
      - "{{ kopia_root_dir }}/cache:/app/cache"
{% for folder in kopia_folders_to_save %}
      - "{{ folder }}:/data{{ folder }}:ro"
{% endfor %}
{% if not kopia_traefik_enabled %}
    ports:
      - "{{ kopia_web_port_expose }}:51515"
{% endif %}
{% if kopia_traefik_enabled %}
    networks:
      - "{{ kopia_traefik_network }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ kopia_service_name }}.rule=Host(`{{ kopia_traefik_domain }}`)"
      - "traefik.http.routers.{{ kopia_service_name }}.entrypoints=websecure"
      - "traefik.http.routers.{{ kopia_service_name }}.tls=true"
      - "traefik.http.services.{{ kopia_service_name }}.loadbalancer.server.port={{ kopia_web_port_expose }}"
{% endif %}
    environment:
      KOPIA_PASSWORD: "{{ kopia_password }}"
      USER: "{{ kopia_repository_username }}"
      TZ: "{{ kopia_timezone }}"
      KOPIA_CONFIG_PATH: "{{ kopia_config_path }}"
    command: >
      server start
      --insecure
      --address=0.0.0.0:51515
      --server-username={{ kopia_repository_username }}
      --ui

  {{ kopia_service_name }}_restore:
    image: "kopia/kopia:{{ kopia_image_tag }}"
    container_name: "{{ kopia_service_name }}_restore"
    hostname: "{{ kopia_client_hostname }}"
    restart: unless-stopped
    profiles: ["restore"]
    security_opt:
      - "apparmor:unconfined"
    cap_add:
      - SYS_ADMIN
    devices:
      - "/dev/fuse:/dev/fuse"
    volumes:
      - "{{ kopia_root_dir }}/config:/app/config"
      - "{{ kopia_root_dir }}/cache:/app/cache"
      - "/mnt/kopia-restore:/tmp/restore:rshared"
    environment:
      KOPIA_PASSWORD: "{{ kopia_password }}"
      USER: "{{ kopia_repository_username }}"
      TZ: "{{ kopia_timezone }}"
      KOPIA_CONFIG_PATH: "{{ kopia_config_path }}"
    command: "mount all /tmp/restore"

{% if kopia_traefik_enabled %}
networks:
  {{ kopia_traefik_network }}:
    external: true
{% endif %}
